<div class="col-md-3">
        <ul class="sidebar-list">
            <li class="sidebar-item"><%= link_to 'Your listings', rooms_path, class: "sidebar-link" %></li>
            <li class="sidebar-item"><%= link_to 'Your bookings', your_bookings_path, class: "sidebar-link active" %></li>
            <li class="sidebar-item"><%= link_to 'Your trips', your_trips_path, class: "sidebar-link" %></li>
        </ul>
</div>