<div class="row">   
     <%= render 'bookings/sidebar' %>
    <div class="col-md-9">
        <div class="panel panel-default">
            <div class="panel-heading">
                Your listings
            </div>
            <div class="panel-body">
                <% @rooms.each do |room| %>
                    <hr>
                    <div class="row">
                        <div class="col-md-3">
                            <%= image_tag room.show_first_photo, class: "photo-thumb" %>
                        </div>
                        <div class="col-md-6">
                            <h4><%= room.listing_name %></h4>
                        </div>
                        <div class="col-md-3 right">
                            <%= link_to 'Update', edit_room_path(room), class: "btn btn-primary" %>
                        </div>
                    </div>
                <% end %>
            </div>
        </div>
    </div>
</div>
